*{
    box-sizing: border-box;
    font-size:62.5%;
    line-height: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    
}
html{
    height: 100%;
}
body{
    height: 100%;
}
ul,li {
    list-style: none;
    padding: 0;
    margin:0;
}
a{
    text-decoration: none;
    
}
h4 {
    margin : 0;
}
a:hover{
    text-decoration: none;
}
.app{
    display: flex;
    flex-direction: column;
}
.container{
    height: 100%;
}
.row{
    height:100%;
}
.xoay {
    transform: rotate(180deg);
}
.hide {
   display: none;
   
}
.show{
    display: block;
}
.header__category--go-up {
    top:64px;
}
.header__main-height--small {
    height: 64px;
}

/* footer */
