/* tablet & mobile */
@media (max-width:1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .show-on-mobile-tablet {
        display: flex;
    }
    .cart-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

/* moible */
@media (max-width:739px) {
    
    .cart-mobile{
        padding-right: 15px;
    }
    .content {
        top: var(--header-height-mobile);
    }

    .hide-on-mobile {
        display: none;
    }

    .move-left {
        transform: translateX(0);
    }

    .logo {
        width: 100px;
    }

    .footer__info-bellow {
        margin-top: 30px;
    }

    .footer__showroom {
        margin-top: 30px;
    }

    .footer__social-network {
        margin-top: 30px;
    }

    .container {
        padding: 0 8px;
    }

    .footer-image {
        margin-bottom: 8px;
    }

    .ft-b {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-bot {
        padding: 16px 0;
    }

    .header__main {
        height: var(--header-height-mobile);
    }

    .footer__info {
        margin-top: 30px;
    }

    .header__main-height--small {
        height: 40px;
    }

    .header-bar-mobile-icon {
        font-size: 2rem;
        color: #9E9E9E;
        cursor: pointer;
    }

    .header-bar-mobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 10px;
    }

    .header-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
    }

    .login-mobile {
        font-size: 2rem;
    }

    .logout-mobile {
        font-size: 2rem;
    }

    .header-search-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;

    }

    .header-search-mobile-icon {
        font-size: 2rem;
        color: #9E9E9E;
        cursor: pointer;
    }

    .header-search-mobile-input {

        height: 40px;

        border: none;

        outline: none;

        width: 100%;

        font-size: 1.4rem;

        box-shadow: 0px 12px 26px #0000004d;
    }

    .header__search-mobile {
        position: absolute;
        width: 100%;
        bottom: -43px;

        animation: topdown ease-out 0.4s;
        box-shadow: 1px 10px 24px #939393;
    }

    @keyframes topdown {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .header-search-mobile-button {
        position: absolute;
        right: 0;
        height: 80%;
        top: 4px;
        width: 15%;
    }

    .header__search-btn-icon {
        font-size: 1.4rem;
    }

    .header__main-logo-link {
        width: 100px;
    }

    .mt-24 {
        margin-top: 8px;
    }
}

/* tablet */
@media (min-width : 740px) and (max-width : 1023px) {
    .content {
        top: var(--header-height)
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart-tablet {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 6px;
    }

    .search--input {
        border-color: black !important;
    }

    .header-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
    }

    /* .home-product:hover .home__product-image{
        width: 80%;
    } */
    /* .home-product:hover  .home-product-content{
        transform: translateY(-5px);
        opacity: 1;
    } */
    .home-product-name {
        font-size: 1rem;
    }

    .show-details {
        margin-top: 8px;
    }

    .home-product-price {
        margin-top: 8px;
        font-size: 1.1rem;
    }

    .mt-24 {
        margin-top: 16px;
    }

    .social-network-icon a {
        margin-right: 16px;
    }

    .header__main {
        background-color: white !important;
    }

    h2 {
        font-size: 1.6rem;
    }

    .code-product {
        font-size: 1.2rem;
        padding: 10px 0;
    }

    .code-product>span {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .status-product {
        font-size: 1.2rem;
        padding: 10px 0;
    }

    .status-product>b {
        font-size: 1.2rem;
        color: blue;
    }

    .rate-product {
        font-size: 1.2rem;
        padding: 10px 0;
    }

    .rate-product>span>i {
        font-size: 1rem;
        color: #c5ab2a;
    }

    .product-price>del {
        font-size: 1.6rem;
        color: black;
    }

    .detail-price-current {
        font-size: 1.6rem;
        margin-right: 16px;
        color: red;
    }

    .product-sale {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .product-vat {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .product-select {
        padding: 10px 0;
    }

    .product-select-color>span {
        font-size: 1.2rem;
    }

    .color-text {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .product-color-list-detail {
        justify-content: start;
        margin-top: 10px;
    }

    .product-select-size {
        padding: 10px 0;
    }

    .product-select-size>span {
        font-size: 1.4rem;
    }

    .guild-size {
        margin-left: 8px;
        font-size: 1.1rem;
        font-weight: bold;
        color: black;
    }

    .guild-size:hover {
        color: #7d7d15;
        cursor: pointer;
    }

    .list-size {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .size {
        font-size: 1.6rem;
        margin-right: 16px;
        cursor: pointer;
    }

    .size:hover {
        color: #7d7d15;

    }

    .select-button {
        /* margin-top: 20px; */

    }

    .detail__button {
        width: 100%;
        height: 35px;
        margin-bottom: 10px;
        outline: none;
        border: 1px solid black;
    }

    .detail__button-buy {
        font-size: 1.4rem;
    }

    .detail__button-show-cart {
        font-size: 1.4rem;
    }

    .detail__button-show-cart>i {
        font-size: 1.8rem;

    }

    .btn__product {
        width: 90px;
        font-size: 1.1rem;
    }

    .logo {
        width: 100px;
    }
}