<div class="container footer-top">
    <div class="row">
        <div class="col col-lg-4 col-md-4">
            <div class="footer__info">
                <div class="footer__info-on">
                    <h4>
					    GỌI MUA HÀNG ( 08:30 - 21: 30 mỗi ngày)
				    </h4>
                    <a href="tel:0971600489">0971600489</a>
                    <span>Tất cả các ngày trong tuần</span>
                </div>
                 <div class="footer__info-bellow">
                    <h4>
					    GÓP Ý &amp; KHIẾU NẠI ( 08:30 - 20:30 trừ ngày lễ)
				    </h4>
                    <a href="tel:0971600489">0971600489</a>
                    <span>Tất cả các ngày trong tuần</span>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-4">
            <div class="footer__showroom">
                <h4>HỆ THỐNG SHOWROOM</h4>
                <img class="footer-image" src="https://file.hstatic.net/1000003969/file/showroom-duoi-700x330_905a99aac7a64b0a892b7dbe67e56de8.jpg" alt="">
                <a href="#" class="footer__showroom-link">Xem địa chỉ showroom hệ thống</a>
            </div>
        </div>
        <div class="col col-lg-4 col-md-4">
            <div class="footer__social-network">

                <h4>FANPAGE CỦA CHÚNG TÔI</h4>
                <img class="footer-image" src="https://file.hstatic.net/1000003969/file/showroom-duoi-700x330_905a99aac7a64b0a892b7dbe67e56de8.jpg" alt="">
                <div class="social-network-icon">
                    <a href="#" class="link-facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="link-instagram">
                       <i class="fab fa-instagram-square"></i>
                    </a><a href="#" class="link-youtube">
                       <i class="fab fa-youtube"></i>
                    </a><a href="#" class="link-twitter">
                       <i class="fab fa-twitter"></i>
                    </a><a href="#" class="link-tiktok">
                        <i class="fab fa-tiktok"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="footer-mid">

    <div class="container ft-b">
        <div class="row">
            <div class="col col-lg-3 col-md-6 col-sm-6">
                <h4 class="footer__support-title">HỖ TRỢ KHÁCH HÀNG <i class="fas fa-chevron-down header__main-item-icon"></i></h4>
                <ul class="footer__support-list">
                    
                    
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Hướng dẫn cỡ giày</a>      
                    </li>
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Chính sách đổi trả</a>      
                    </li>
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Thanh toán giao nhận</a>      
                    </li>
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Chính sách bảo mật</a>      
                    </li>
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Câu hỏi thường gặp</a>      
                    </li>
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Chính sách khách hàng thân thiết</a>      
                    </li>
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Hướng dẫn mua hàng online</a>      
                    </li>

                </ul>
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-6">
                <h4 class="footer__support-title">VỀ SHOP <i class="fas fa-chevron-down header__main-item-icon"></i></h4>
                <ul class="footer__support-list">
                    
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Giới thiệu</a>      
                    </li>
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Liên hệ</a>      
                    </li>
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Thông tin thời trang</a>      
                    </li>
                    <li class="footer__support-item">
                        <a href="" class="footer__support-link">Cơ hội làm việc tại cửa hàng</a>      
                    </li>
                    
                    
                </ul>
            </div>
            <div class="col col-lg-3"></div>
            <div class="col col-lg-3"></div>

        </div>
    </div>
</div>
<div class="footer-bot">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                <span class="design-by">
                    © DESIGN BY TUNGTRINH99
                
            </div>
        </div>
    </div>
</div>
