
  
    <div class="header__topbar hide-on-mobile-tablet">
      <div class="container header__topbar-wrap">
          
            <div class="header__topbar-list-left">
              <ul class="header__topbar-list">

                <li class="header__topbar-item">
                  <a href="https://www.facebook.com/tungtrinh99" class="header__topbar-item-link">
                    <i class="fab fa-facebook header__topbar-item-icon"></i>
                    <span class="header__topbar-item-nameicon">Facebook</span>
                  </a>
                 
                </li>
                <li class="header__topbar-item">
                  <a href="https://www.instagram.com/tungtrinh.js/" class="header__topbar-item-link">

                    <i class="fab fa-instagram header__topbar-item-icon"></i>
                    <span class="header__topbar-item-nameicon">Instagram</span>
                  </a>
                </li>
                <li class="header__topbar-item">
                  <a href="#" class="header__topbar-item-link">

                    <i class="fab fa-google header__topbar-item-icon"></i>
                    <span class="header__topbar-item-nameicon">Google</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="header__topbar-list-right">
              <ul class="header__topbar-list">

                <li class="header__topbar-item">
                  <a href="#" class="header__topbar-item-link">

                    <i class="fas fa-user header__topbar-item-icon"></i>
                    <span class="header__topbar-item-nameicon">Đăng nhập</span>
                    
                  </a>
                </li>
                <li class="header__topbar-item">
                  <a href="#" class="header__topbar-item-link">

                    <i class="fas fa-shopping-cart header__topbar-item-icon"></i>
                    <span class="header__topbar-item-nameicon">Giỏ hàng</span>
                    <span class="header__topbar-item-count">(0)</span>
                  </a>
                </li>
              </ul>

            </div>
          
      </div>
    </div>
    <div class="header__main">
      <div class="container">

        <div class="row ">
          
          <div class="col col-lg-2 col-md-2 col-sm-10">             
              <a href="/" class="header__main-logo-link">
                <img src="/img/logo.png" alt="logo" class="logo" >
              </a>
          </div>
          <div class="col col-lg-8 hide-on-mobile-tablet">
            <div class="header__main-list">
              <li class="header__main-item">
                <a href="#" class="header__main-item-link">Sản phẩm mới</a>
                
                
              </li>
              
              <li class="header__main-item">
                <a href="#" class="header__main-item-link">Adidas</a>
                <i class="fas fa-chevron-down header__main-item-icon"></i>
                <div class="header__main-category">
                  <div class="header__main-category-list">
                    
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                          <a href="" class="header__main-category-item-link">Adidas Yeezy</a>
                        <a href="" class="header__main-category-item-link">Adidas Ultra Boost</a>
                        <a href="" class="header__main-category-item-link">Adidas NMD</a>
                        <a href="" class="header__main-category-item-link">Adidas Stan Smith</a>
                        <a href="" class="header__main-category-item-link">Adidas Alphabounce</a>
                          
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                          
                          <a href="" class="header__main-category-item-image-link">
                              <img class="header__main-category-item-image" src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/91a8a40254fe4ce6839cab6501302fd0_9366/Giay_UltraBoost_20_Mau_hong_FW8728_01_standard.jpg" alt="" >
                              <span class="header__main-category-item-text">
                                Ultra Boost 20
                              </span>
                              
                          </a>
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                                
                          <a href="" class="header__main-category-item-image-link">
                              <img class="header__main-category-item-image" src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/deecebcc265c43c6b092a7fa00fed2d0_9366/Giay_Stan_Smith_Mau_trang_S75104_01_standard.jpg" alt="" >
                              <span class="header__main-category-item-text">
                                Stan Smith
                              </span>
                              
                          </a>
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                                
                          <a href="" class="header__main-category-item-image-link">
                            <img class="header__main-category-item-image" src="https://c.static-nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/azmihba3pidhx72i7div/air-max-97-shoe-EBZrb8.jpg" alt="" >
                            <span class="header__main-category-item-text">
                              Nike Air Max 97
                            </span>
                            
                          </a>
                        </div>
                      </div>                     
                                        
                  </div>
                </div>
              </li>
              <li class="header__main-item">
                <a href="#" class="header__main-item-link">Nike</a>
                <i class="fas fa-chevron-down header__main-item-icon"></i>
                <div class="header__main-category">
                  <div class="header__main-category-list">
                    
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                          <a href="" class="header__main-category-item-link">Nike Air Max 90 </a>
                          <a href="" class="header__main-category-item-link">Nike Air Force 1</a>
                          <a href="" class="header__main-category-item-link">Nike Jordan 1</a>
                          <a href="" class="header__main-category-item-link">Nike Uptempo</a>
                          <a href="" class="header__main-category-item-link">Nike Cortez</a>
                          
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                          
                          <a href="" class="header__main-category-item-image-link">
                            <img class="header__main-category-item-image" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/q8i3x6lqfasvvojvvits/air-jordan-1-low-shoe-6Q1tFM.jpg" alt="" >
                            <span class="header__main-category-item-text">
                              Air Jordan 1 Low
                            </span>
                            
                          </a>
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                                
                          <a href="" class="header__main-category-item-image-link">
                            <img class="header__main-category-item-image" src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/44ccc755-d470-46ae-9a93-b5205ea302dc/air-force-1-07-shoe-ZwfP5z.jpg" alt="" >
                            <span class="header__main-category-item-text">
                              Nike Air Force 1 '07
                            </span>
                            
                          </a>
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                                
                          <a href="" class="header__main-category-item-image-link">
                            <img class="header__main-category-item-image" src="https://c.static-nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/azmihba3pidhx72i7div/air-max-97-shoe-EBZrb8.jpg" alt="" >
                            <span class="header__main-category-item-text">
                              Nike Air Max 97
                            </span>
                            
                          </a>
                        </div>
                      </div>                     
                                        
                  </div>
                </div>
              </li>
              <li class="header__main-item">
                <a href="#" class="header__main-item-link">Bitis Hunter</a>
                <i class="fas fa-chevron-down header__main-item-icon"></i>
                <div class="header__main-category">
                  <div class="header__main-category-list">
                    
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                          <a href="" class="header__main-category-item-link">Hunter</a>
                        <a href="" class="header__main-category-item-link">Giày thể thao</a>
                        <a href="" class="header__main-category-item-link">Giày đá bóng</a>
                        <a href="" class="header__main-category-item-link">Giày chạy bộ</a>
                          
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                          
                          <a href="" class="header__main-category-item-image-link">
                              <img class="header__main-category-item-image" src="https://product.hstatic.net/1000230642/product/dsmh03400xmn_5__97ab4d643dd14faca4edf02a9d57ce26_1024x1024.jpg" alt="" >
                              <span class="header__main-category-item-text">
                                  Biti's Hunter X Matcha
                              </span>
                              
                            </a>
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                                
                          <a href="" class="header__main-category-item-image-link">
                              <img class="header__main-category-item-image" src="https://product.hstatic.net/1000230642/product/02400cam__2__e1169f3ccb534dbea20e0b26e448a3a8_1024x1024.jpg" alt="" >
                              <span class="header__main-category-item-text">
                                  Biti's Hunter Football
                              </span>
                              
                            </a>
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="header__main-category-item">
                                
                            <a href="" class="header__main-category-item-image-link">
                              <img class="header__main-category-item-image" src="https://product.hstatic.net/1000230642/product/9_4af2a89ef6a8461184dda8b5339a0787_1024x1024.jpg" alt="" >
                              <span class="header__main-category-item-text">
                                Biti's Hunter Street x Vietmax 2020
                              </span>
                              
                            </a>
                        </div>
                      </div>                     
                                        
                  </div>
                </div>
              </li>
              
              <li class="header__main-item">
                <a href="#" class="header__main-item-link">Giảm giá</a>
                
              </li>
              
            </ul>
            </div>
          </div>
          <div class="col col-lg-2 col-md-8 header__main--right hide-on-mobile">
            <form class="header__search" action="/search">
              <input type="text" class="search--input" placeholder="Tìm kiếm ...">
              <input type="submit" class="btn-search" value="">
            </form>
          </div>
          <div class="col col-md-1  hide header__cart-tablet">
            <a href="#" class="header__cart-tablet-link">
              <i class="fas fa-shopping-cart header__cart-tablet-icon"></i>               
            </a>
          </div>
          <div class="col col-sm-1 hide header-search-mobile">
            <i class="header-search-mobile-icon fas fa-search"></i>
            {{!-- <input type="text" placeholder="Tìm kiếm ..." class="header-search-mobile-input"> --}}
          </div>
          <div class="col col-md-1 col-sm-1 hide header-bar">
            <i class="fas fa-bars header-bar-icon"></i>
            <div class="modal"></div>
            <div class="nav-tablet">
              <ul class="nav-tablet-list">
                <li class="nav-tablet-item-head">
                  <span>Menu</span>
                  <i class="fas fa-times close"></i>
                </li>
                <li class="nav-tablet-item">
                  <a href="#" class="nav-tablet-link">Hàng Mới</a>
                </li>
                <li class="nav-tablet-item">
                  <a href="#" class="nav-tablet-link">Hàng Mới</a>
                </li>
                <li class="nav-tablet-item">
                  <a href="#" class="nav-tablet-link">Hàng Mới</a>
                </li>
                <li class="nav-tablet-item">
                  <a href="#" class="nav-tablet-link">Hàng Mới</a>
                </li>
                <li class="nav-tablet-item">
                  <a href="#" class="nav-tablet-link">Hàng Mới</a>
                </li>
              </ul>
              <div class="authentication-mobile">
                <div class="login-mobile">
                  <i class="fas fa-user"></i>
                  <a href="#">ĐĂNG NHẬP</a>
                </div>
                <div class="logout-mobile">
                  
                  <a href="#">CHÍNH SÁCH MEMBERSHIP</a>
                </div>               
              </div>
              <div class="info-mobile">
                <span>Trinh Xuan Tung 171203068</span>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
 
